head 
    title Practice Meteor

body
    h1 Practice Meteor by Dboy
    {{>loginButtons}}
    +self
    +posts

template(name="posts")
    hr
    h1 New Posts
    if user
        div Your are {{ user.profile.name }}
    else
        div You are Anonymous
    br
    div Your post here:
        input#insertPost
    hr
    h1 Posts
    each postsArray
        +post
    
template(name = "self")
    h2 My name is {{ testObj.name }}
    h2 Birthday: {{ testObj.birth }}
    h2 Height: {{ testObj.height }}
    if testObj.male
        h2 Gender: male
    else
        h2 Gender: female

template(name='post')
    hr
    if author
        h2 {{ author }} say: {{ text }}
    else
        h2 {{ text }}
    hr